* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
   /* 
  what we want is 10px, so divide default px (16px) to 10 
  10/16 = 0.625 
  .625*16 = 10
  we are converting this to percent because each user may have different font size as a default
  so that we want to provide the right font size according to user's default value (px)
  */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8DA9B9;
  
}

.todo-card {
  border-radius: 3px;

  /* Modify the top margin of whole card */
  margin-top: 15%;
  margin-bottom: .4rem;
  /* height: 67rem; */
  /* padding: 2rem; */
  width: 45rem;
  background: #fff;
  box-shadow: -1.5rem -1.5rem 0rem .3rem rgb(181, 181, 181);
  text-align: center;
}

.card-header-title {
  padding: 5rem 0 0 2rem;
  text-align: center;
}
/* main title style */
.title-my {
  font-family: 'Nunito', sans-serif;
  color: #8A8585;
  font-size: 3rem;
  padding: 0 14rem 0 0;
  border-bottom: .3rem solid #8A8585;
  display: inline;
}

.title-tasks {
  font-family: 'Shadows Into Light', cursive;
  color: #64A2FF;
  font-size: 5.5rem;
  margin-left: 8.7rem;
}


/* Input field and button */

/* Input field */
.card-list-input-field {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  padding: 2rem;
} 
#task-form {
  display: flex;
} 


.task-input {
  width: 30rem;
  height: 100%;
  margin-right: 2rem;
  border: solid .1rem rgb(194, 194, 194);
  border-radius: .7rem;
  padding-left: 1.7rem;
  /* margin-bottom: 1.5rem; */
}
.task-input:focus {
  outline: none;
}

.button {
  border: none;
  background: none;
  cursor: pointer;
  color: rgb(81, 154, 81);
  transition: 0.2s all;

}
.button:focus {
  outline: none;
}

.button:hover {
  transform: translateY(-.1rem);
  color: #64A2FF;
}

.button:active {
  transform: translateY(.15rem);
}


/* List Items */
.card-todo-list {
  text-align: left;
  margin-left: 7rem;
  margin-bottom: 2rem;
  color: #6b6b6b;

}

.unorder-list{
  padding-bottom: 1.6rem;
}


.task-item {
  list-style: none;
  margin: 2rem 0;
  font-size: 2rem;
  font-family: 'Shadows Into Light', cursive;
}

.btn {
  border: none;
  background: none;
  cursor: pointer;
  /* place trash icon to the right side */
  float: right;
  padding-right: 6rem;
}
.btn:focus {
  outline: none;
}
.trash-icon {
  /* make alignment for trash icon */
  margin-top: 1.2rem;
}

.trash-icon:hover {
  color: rgb(255, 119, 119);
  cursor: pointer;
}

span {
  margin-left: 17px;
}

/* check box... */
.list-check-box[type=checkbox] {
  position: relative;
  cursor: pointer;
}
.list-check-box[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border: 2px solid #adadad;
  border-radius: 2px;
  background-color: white;
}
.list-check-box[type=checkbox]:checked:after {
  content: ""; 
  display: block;
  width: 5px;
  height: 10px;
  border: solid #64A2FF;

  /* resizing the border size of check mark */
  border-width: 0 5px 5px 0;
  
  /* -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);*/
  transform: rotate(45deg); 
  position: absolute;
  top: 2px;
  left: 6px;
  
}


